DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=memecoin_scanner
DB_CONNECTION_LIMIT=10

HELIUS_API_KEY=
HELIUS_DISCOVERY_ADDRESS=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
HELIUS_SIGNATURE_LIMIT=20

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

SIGNAL_COOLDOWN_MINUTES=240
RUN_ON_START=true
